.header {
  width:100%;
  display:flex;
  background: var(--color-bg-tertiary);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-border-light);
}


.actions {
  margin-left:auto;
  justify-content:flex-end;
  display: flex;
  gap: var(--spacing-2);
}

.runBtn {
  background: var(--color-primary-500);
  color: var(--color-text-inverse);
  border: none;
  padding: 6px 12px;
  border-radius: var(--radius-base);
  font-size: var(--font-size-sm);
}

.submitBtn {
  background: var(--color-success);
  color: var(--color-text-inverse);
  border: none;
  padding: 6px 12px;
  border-radius: var(--radius-base);
  font-size: var(--font-size-sm);
}

.left,
.right {
  flex: 1;
  display: flex;
  align-items: center;
}

.right{
  margin-right:0px;
}

/* 왼쪽 정렬 */
.left {
  justify-content: flex-start;
}

/* 오른쪽 정렬 */
.right {
  justify-content: flex-end;
}
